<div class="container">
  <header><img src="images/listit.jpg" class="img-responsive main-image"></header>
  <!-- <header><img src="images/corneal-small.png" class="img-responsive main-image"></header> -->
  <div class="col-md-8 col-md-offset-2">
    <h2>List It Page</h2>

    <div class="content">
      <p>Welcome to the List It! Please log in above to continue.</p>
    </div>

  </div>
</div>
